 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container{
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
 }

.banner{
    height: 454px;
    width: 100%;
    background: url(../images/hero-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    // clip-path: polygon(50% 0%, 100% 1%, 100% 35%, 100% 93%, 77% 86%, 45% 84%, 15% 89%, 0 100%, 0% 35%, 0 0);
}

.text{
    h1{
        margin-left: 100px;
        margin-top: 15%;
        font-size: 60px;
    }
}

.nav{
    margin-left: 100px;
}
.navbar-nav{
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 2px;
    
}
.paragraph{
    width: 853px;
    padding:1rem;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
margin-bottom: 1rem;
}

.bg-image{
    width: 10%;
    height: 70px;
}
.main-container{
    // width: 1440px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    

}
// .container{
//     width: 1440px;
//     margin-bottom: 5rem;
   
// }
// .section-image{
//     background-image: "url(../images/hero-desktop.png)";
//     background-size: cover;
//     background-repeat: none;
// }
.image-container{
    width: 1440px;
    margin: auto;
}
.image-container img{
    margin: 0;
    width: 100%;
    // aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    margin-left: none;
    position: relative;
}
.image-content{
    position: absolute;
    width: 60%;
    top: 10rem;
    left: 10rem;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.image-text{
    color: white;
    // height: 100rem;
}
// .secondlast-container{
//     width: 1440px;
//     height: 100rem;
//     display: flex;
    
//     gap: 15px;


// }
// .secondlast-container-item{
//     flex-basis: 50%;
//     height: 100rem;
// }

